*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

#weather{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    height: 200px;
}
.weather-child{
    margin: 20px;
}
.weather-icon{
    width: 200px;
    background-color: black;
    border-radius: 60px;
    margin-left: 19px;
}

.city-name{
    font-size: 3rem;
}

#time{
    font-size: 5rem;
}


.pokemon-img{
    width: 200px;
}